@font-face {
    font-family: "lemon";
    src: url(font/lemonmilk.ttf);
}

@font-face {
    font-family: "quico";
    src: url(font/quico.ttf);
}
@font-face {
    font-family: RollgatesLuxury;
    src: url(font/RollgatesLuxury.ttf);
}