*
{
    scroll-behavior: smooth;
    color: aliceblue;
}
body
{
    background-image: url(images/backgrouond.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.grandfather
{
    width: 100%;
    background-color: rgba(95, 95, 95, 0.603);
    backdrop-filter: blur(7px);
}

.nav-parent
{
    width: 100vw;
    background-color: #ff00009d;
    backdrop-filter: blur(7px);
}
.nav-parent a
{
    color: white;
}
h5
{
    color: #a3a3a3;
}
.name
{
    color: #fc3232;
}
#identity, #education, #experience, #portfolio, #contact
{
    width: 100%; 
    padding: 50px;
}

#experience h1, #portfolio h1, #contact h1
{
    text-align: center;
}
#experience h5, #portfolio h5, #contact h5
{
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
}
.card-group
{
    margin-top: 20px;
}
.card-group .card
{
    margin: 20px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 7px 7px 10px #0000006e;
}
.card-group .card:hover
{
    box-shadow: 7px 7px 10px #000000b7;
}
.card img
{
    max-width: 150px;
    margin: 0 auto;
}

#portfolio .images
{
    margin-top: 40px;
}
#portfolio img:hover
{
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.623);
}

#contact img
{
    max-width: 80px;
    padding: 20px;
}
#contact .contact-item
{
    background-color: rgba(252, 77, 77, 0.616);
    border-radius: 10px;
    max-width: 400px;
    margin: 10px 15px;
}
#contact .contact-item:hover
{
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.747);
}
#contact a
{
    text-decoration: none;
    color: #181818;
    text-align: center;
    font-size: 1.2rem;
}
footer
{
    width: 100%;
    height: auto;
    color: aquamarine;
    text-align: center;
    vertical-align: middle;
    padding: 5px 10px;
    background-color: #fc3232;
}

/*-------Font-Styles--------*/
/*-------Font-Styles--------*/
.my-name, .my-name span
{
    font-family: lemon;
    letter-spacing: 0.2rem;
}
h1
{
    font-family: lemon;
}
h5
{
    font-family: RollgatesLuxury;
    font-weight: bolder;
    letter-spacing: 0.1rem;
}
