body{
    font-family: 'Aclonica', sans-serif;
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Carter One', cursive;
    font-family: 'Michroma', sans-serif;
    font-family: 'Ramabhadra', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    }

.name-highlight{
    color: red;
    font-family: 'Aclonica', sans-serif;
}
h1{
    font-size: xx-large;
}
h3{
    color: red;
    font-weight: 500;
    font-family: 'Ramabhadra', sans-serif;
}

.vertical{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.identity{
    background-image: url(images/side.png);
    background-position: left;
    background-size: 7%;
    background-position-y: top;
    background-repeat: no-repeat;
    height: 500px;
}

.firstsection{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
    
}

.firstsection img{
    width: 100%;
}